<nav class="navbar navbar-expand-lg search-bar justify-content-between">
    <a routerLink="/lista-produtos" class="navbar-brand" href="#"><img src="/assets/logo_lojasamericanas.png" class="d-inline-block align-top" alt=""></a>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
        <button class="btn btn-outline my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
    
    <div class="dropdown show">
      <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <font color="white">login ou cadastre-se</font>
      </a>
      
      <div class="dropdown-menu">
          <form class="px-4 py-3">
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Email</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@exemplo.com">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Senha</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="senha@123">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck">
              <label class="form-check-label" for="dropdownCheck">
                Lembre-me
              </label>
            </div>
            <button type="submit" class="btn btn-danger">Login</button>
          </form>
          <div class="dropdown-divider"></div>
          <a  routerLink="/novo-usuario" class="dropdown-item text-danger" >Novo por aqui? Crie uma conta</a>
          <a class="dropdown-item" href="#">Esqueceu a senha?</a>
        </div>
    </div>

    <a class="navbar-brand" href="#"><img src="/assets/cart32px.svg" class="d-inline-block align-top" alt=""></a>
  </nav>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="navbar navbar-default" id="navbarSupportedContent">
      <div class="dropdown show">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <img src="/assets/ic_menu.svg" alt=""> <font color="red">compre por departamentos</font>
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">brinquedos e bebês</a>
                <ul class="dropdown-menu">
                  <li><a  class="dropdown-item" href="#">bonecas</a></li>
                  <li><a  class="dropdown-item" href="#">bonecos</a></li>
                  <li><a  class="dropdown-item" href="#">barbie</a></li>
                  <li><a  class="dropdown-item" href="#">lego</a></li>
                  <li><a  class="dropdown-item" href="#">jogos</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">celulares e telefonia fixa</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">galaxy s8</a></li>
                  <li><a class="dropdown-item" href="#">iphone x</a></li>
                  <li><a class="dropdown-item" href="#">moto x4</a></li>
                  <li><a class="dropdown-item" href="#">zenfone 4</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">informatica e tablets</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">notebook</a></li>
                  <li><a class="dropdown-item" href="#">computador gamer</a></li>
                  <li><a class="dropdown-item" href="#">all in one</a></li>
                  <li><a class="dropdown-item" href="#">ipad</a></li>
                </ul>
              </li> 
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">tv, áudio</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">tvs</a></li>
                  <li><a class="dropdown-item" href="#">caixa de som bluetooth</a></li>
                  <li><a class="dropdown-item" href="#">fone de ouvido</a></li>
                  <li><a class="dropdown-item" href="#">micro system</a></li>
                </ul>
              </li> 
            </ul>
          </div>
            <ul>
              <li class="nav-item  hvr-fade">
                <a class="nav-link" href="#">seja <font color="red"><b>a </b></font>prime</a>
              </li>
        <li class="nav-item  hvr-fade">
          <a class="nav-link" href="#">livros de faculdade</a>
        </li>
        <li class="nav-item  hvr-fade">
          <a class="nav-link" href="#">tvs para torcer</a>
        </li>
        <li class="nav-item hvr-fade">
          <a class="nav-link" href="#">queima de estoque</a>
        </li>
        <li class="nav-item hvr-fade">
          <a class="nav-link" href="#">baixe o app</a>
        </li>
        <li class="nav-item hvr-fade">
          <a class="nav-link" href="#"><font color="red"><b>oferta do dia</b></font></a>
        </li>
        
      </ul>  
  </div>
      
</nav>